:root{
    --bg-blue: #06283D;
    --bg-bluee: #72A0C1;
    --bg--lightblue: #00BBC9;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-body{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--bg-bluee), var(--bg-blue));
    height: auto;
    z-index: 10;
}

.container{
    width: 80%;
    height: auto;
    /* background: linear-gradient(to left, var(--bg--lightblue), var(--bg-blue)) */
    /* background-color:var(--bg--lightblue); */
    /* background: #72A0C1; */
    z-index: 1000;
    padding: 0 20px;
}

.main-heading{
    font-size: larger;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    width: 100%;
}

.intro-heading, .intro-body, .steps-heading, .steps-lists, .purpose-heading, .purpose-desc, .step1-body, .step1-heading, .step2-desc, .step2-heading{margin-bottom: 15px;}

.step2-desc, .steps-heading, .intro-heading, .purpose-desc, .intro-body, .steps-lists, .purpose-heading, .step1-body{font-size: larger;}

.steps-lists{margin-left: 20px;}

.step1-pics, .step2-pics{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.step1-pics img{
    width: 450px;
}
.step2-pics img{
    width: 900px;
}

.footer{
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid white;
    padding: 40px;
}

.github-link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-link a{
    text-decoration: none;
    color: white;
    font-size: larger;
}