:root{
    /* --bg-blue: #06283D;
    --bg-bluee: #72A0C1;
    --bg--lightblue: #00BBC9; */
    --bg-darkblue: #06283D;
    --bg-bluee: #0D324D;
    --bg-lightblue: #7F5A83;
    --bg-purple: #6a5acd;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
}

h1, h2{
    color: white;
    /* color: greenyellow; */
}

p{
    /* color: white; */
    /* color: greenyellow; */
    color: rgb(172, 169, 169);
    font-weight: 800;
}

b, ul li{
    font-weight: 800;
    color: yellowgreen;
}

.main-body{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--bg-bluee), var(--bg-lightblue));
    height: auto;
    z-index: 10;
}

.container{
    width: 80%;
    height: auto;
    /* background: linear-gradient(to left, var(--bg--lightblue), var(--bg-blue)) */
    /* background-color:var(--bg--lightblue); */
    /* background: #72A0C1; */
    z-index: 1000;
    padding: 0 20px;
}

.main-heading{
    font-size: larger;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body{
    width: 100%;
}

.step6-heading, .step6-desc, .step5-heading, .step5-desc, .step4-heading, .step4-desc, .step3-heading, .step3-desc, .intro-heading, .intro-body, .steps-heading, .steps-lists, .purpose-heading, .purpose-desc, .step1-body, .step1-heading, .step2-desc, .step2-heading{margin-bottom: 15px;}

.step6-desc, .step5-desc, .step4-desc, .step3-desc, .step2-desc, .steps-heading, .intro-heading, .purpose-desc, .intro-body, .steps-lists, .purpose-heading, .step1-body{font-size: larger;}

.steps-lists{margin-left: 20px;}

.step1-pics, .step2-pics, .step3-pics, .step4-pics, .step5-pics, .step6-pics{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.step1-pics img{
    width: 450px;
}
.step2-pics img, .step3-pics img, .step4-pics img, .step5-pics img, .step6-pics img{
    width: 900px;
}

.footer{
    margin-top: 40px;
    width: 100%;
    border-top: 1px solid white;
    padding: 40px;
}

.github-link{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.github-link a{
    text-decoration: none;
    color: white;
    font-size: larger;
}